/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ตั้งค่าพื้นฐาน */
/* ตั้งค่าพื้นฐาน */
body {
  font-family: Arial, sans-serif;
  background-color: #faf5db;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* กล่องเนื้อหา */
#app {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

/* หัวข้อ */
h1 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

/* ข้อความ */
p {
  font-size: 18px;
  margin: 10px 0;
  color: #727272;
}

/* รูปภาพ */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ลิงก์ */
a {
  display: block;
  color: #3498db;
  text-decoration: none;
  font-size: 16px;
  margin: 5px 0;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}